kind: ConfigMap
apiVersion: v1
metadata:
  name: "load-plugins-{{ item.name }}"
  namespace: "{{ ansible_operator_meta.namespace }}"
data:
  load-plugins.sh: |
    #!/bin/sh
    set -e
    echo "Loading plugins..."
    {% for plugin in item.plugins %}
    cat /share/{{ plugin.name }}-{{ plugin.version }}.txt
    {% endfor %}
    sleep infinity
